Node_Flow/AqaraP100流程.json
[{"id":"0e8ae99364375fbf","type":"tab","label":"Aqara 教程","disabled":false,"info":"","env":[]},{"id":"d8faf33d9c200a08","type":"comment","z":"0e8ae99364375fbf","name":"P100 资源","info":"门锁P100资源详情\n\n室内开门    13.1.85     0:室内开门\n指纹ID     13.2.85\n密码开门ID  13.3.85\nNFC ID    13.4.85\n方舌状态    13.10.85    0:未上锁;1:已上锁\n反锁状态    13.11.85    0:解除反锁;1:反锁\n离家模式    13.12.85    0:关闭1:开启\n长时间逗留  13.13.85    1:长时间逗留\n异常事件    13.14.85    3235774474:验证错误次数过多;3235774471:钥匙没拔;……\n开门方式    13.15.85    0:指纹;1:密码;2:NFC;3:HomeKit;4:一次性密码;5:钥匙\n门的状态    13.20.85    0:已开门;1:已关门;2:长时间未关;3:有人按门铃;4:撬门;5:门虚掩\n\n干电池      13.37.85\n锂电池      13.32.85","x":660,"y":1340,"wires":[]},{"id":"6c12ac06d82fbd9e","type":"switch","z":"0e8ae99364375fbf","name":"选择资源","property":"lvmi_resourceId","propertyType":"msg","rules":[{"t":"eq","v":"13.1.85","vt":"str"},{"t":"eq","v":"13.2.85","vt":"str"},{"t":"eq","v":"13.3.85","vt":"str"},{"t":"eq","v":"13.10.85","vt":"str"},{"t":"eq","v":"13.11.85","vt":"str"},{"t":"eq","v":"13.13.85","vt":"str"},{"t":"eq","v":"13.14.85","vt":"str"},{"t":"eq","v":"13.15.85","vt":"str"},{"t":"eq","v":"13.20.85","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":660,"y":1240,"wires":[["71313f046eb3c67a"],["208d33816d3cb4bf"],["208d33816d3cb4bf"],["941d230854ed34a3"],["e215c9d5f35cf425"],["cd92e16583fea4cf"],["cd92e16583fea4cf"],["759ef2c6b983e4cb"],["05d5dbeccbfd38cf"]]},{"id":"71313f046eb3c67a","type":"function","z":"0e8ae99364375fbf","name":"门的状态","func":"global.set(\"men_de_zhuang_tai\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1160,"wires":[["25dea1d5d19ad2da"]]},{"id":"208d33816d3cb4bf","type":"function","z":"0e8ae99364375fbf","name":"开门者","func":"global.set(\"kai_men_zhe\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1200,"wires":[["25dea1d5d19ad2da"]]},{"id":"ee34aef5b1f260b6","type":"http request","z":"0e8ae99364375fbf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.2:8123/api/webhook/aqara_p100","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":1340,"y":1100,"wires":[[]]},{"id":"229d4ae79d590101","type":"comment","z":"0e8ae99364375fbf","name":"状态整理","info":"门的状态：室内开门、室外开门、门已关\n开门者：上报指纹id和密码id\n开门方式：指纹、密码、NFC、HomeKit、一次性密码、钥匙\n特殊事件：长时间未关、有人按门铃、门虚掩、长时间逗留、验证错误过多、钥匙没拔\n方舌：是否上锁\n反锁：是否反锁","x":840,"y":1360,"wires":[]},{"id":"2da8a737d8a1c4e2","type":"function","z":"0e8ae99364375fbf","name":"开锁方式","func":"global.set(\"kai_suo_fang_shi\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1240,"wires":[["25dea1d5d19ad2da"]]},{"id":"cd92e16583fea4cf","type":"function","z":"0e8ae99364375fbf","name":"特殊事件","func":"global.set(\"te_shu_shi_jian\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1280,"wires":[["25dea1d5d19ad2da","3f4233f89e31e37a"]]},{"id":"941d230854ed34a3","type":"function","z":"0e8ae99364375fbf","name":"方舌状态","func":"global.set(\"fang_she_zhuang_tai\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1320,"wires":[["25dea1d5d19ad2da"]]},{"id":"e215c9d5f35cf425","type":"function","z":"0e8ae99364375fbf","name":"反锁状态","func":"global.set(\"fan_suo_zhuang_tai\", msg.lvmi_value)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1360,"wires":[["25dea1d5d19ad2da"]]},{"id":"759ef2c6b983e4cb","type":"switch","z":"0e8ae99364375fbf","name":"","property":"lvmi_value","propertyType":"msg","rules":[{"t":"eq","v":"15","vt":"str"},{"t":"neq","v":"15","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":1220,"wires":[["71313f046eb3c67a"],["2da8a737d8a1c4e2"]]},{"id":"05d5dbeccbfd38cf","type":"switch","z":"0e8ae99364375fbf","name":"","property":"lvmi_value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":830,"y":1280,"wires":[["71313f046eb3c67a"],["cd92e16583fea4cf"],["cd92e16583fea4cf"],["cd92e16583fea4cf"]]},{"id":"25dea1d5d19ad2da","type":"function","z":"0e8ae99364375fbf","name":"function 5","func":"msg.men_de_zhuang_tai = global.get(\"men_de_zhuang_tai\");\nmsg.kai_men_zhe = global.get(\"kai_men_zhe\");\nmsg.kai_suo_fang_shi = global.get(\"kai_suo_fang_shi\");\nmsg.te_shu_shi_jian = global.get(\"te_shu_shi_jian\");\nmsg.fang_she_zhuang_tai = global.get(\"fang_she_zhuang_tai\");\nmsg.fan_suo_zhuang_tai = global.get(\"fan_suo_zhuang_tai\");\nmsg.gan_dian_chi = global.get(\"gan_dian_chi\");\nmsg.li_dian_chi = global.get(\"li_dian_chi\");\nmsg.payload = {\n    \"men_de_zhuang_tai\": msg.men_de_zhuang_tai,\n    \"kai_men_zhe\": msg.kai_men_zhe,\n    \"kai_suo_fang_shi\": msg.kai_suo_fang_shi,\n    \"te_shu_shi_jian\": msg.te_shu_shi_jian,\n    \"fang_she_zhuang_tai\": msg.fang_she_zhuang_tai,\n    \"fan_suo_zhuang_tai\": msg.fan_suo_zhuang_tai,\n    \"gan_dian_chi\": msg.gan_dian_chi, \n    \"li_dian_chi\": msg.li_dian_chi,\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":1100,"wires":[["ee34aef5b1f260b6","92ac0b8eae479a72"]]},{"id":"4da37b7622a7b0fa","type":"switch","z":"0e8ae99364375fbf","name":"选择P100","property":"lvmi_subjectId","propertyType":"msg","rules":[{"t":"eq","v":"lumi.98fhxxxo08g","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":1240,"wires":[["6c12ac06d82fbd9e"]]},{"id":"7e7c3355138ce57d","type":"function","z":"0e8ae99364375fbf","name":"提取ID","func":"msg.lvmi_model = msg.payload.data[0].model;\nmsg.lvmi_subjectId = msg.payload.data[0].subjectId;\nmsg.lvmi_resourceId = msg.payload.data[0].resourceId;\nmsg.lvmi_value = msg.payload.data[0].value;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1240,"wires":[["4da37b7622a7b0fa"]]},{"id":"cdf39fe56b9a1ef8","type":"http response","z":"0e8ae99364375fbf","name":"响应","statusCode":"","headers":{},"x":395,"y":1200,"wires":[],"l":false},{"id":"bfed8a66b37e190c","type":"function","z":"0e8ae99364375fbf","name":"{'code': 0}","func":"msg.payload = \"{'code': 0}\"\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":1200,"wires":[["cdf39fe56b9a1ef8"]],"l":false},{"id":"206c616b4f7fa8ec","type":"http in","z":"0e8ae99364375fbf","name":"接收Aqara 消息推送","url":"/aqara","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1240,"wires":[["7e7c3355138ce57d","bfed8a66b37e190c"]]},{"id":"2277f81b5a0cb845","type":"inject","z":"0e8ae99364375fbf","name":"每周五","props":[{"p":"subjectId","v":"（此处填写P100的subjectId）","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 17 * * 5","once":false,"onceDelay":0.1,"topic":"获取门锁电量","x":160,"y":900,"wires":[["1c6569afe5b7892e"]]},{"id":"8e762b554a05083a","type":"http request","z":"0e8ae99364375fbf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://open-cn.aqara.com/v3.0/open/api","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Accesstoken","valueType":"msg","valueValue":"Accesstoken"},{"keyType":"other","keyValue":"Appid","valueType":"msg","valueValue":"Appid"},{"keyType":"other","keyValue":"Keyid","valueType":"msg","valueValue":"Keyid"},{"keyType":"other","keyValue":"Nonce","valueType":"msg","valueValue":"Nonce"},{"keyType":"other","keyValue":"Time","valueType":"msg","valueValue":"Time"},{"keyType":"other","keyValue":"Sign","valueType":"msg","valueValue":"Sign"},{"keyType":"other","keyValue":"Lang","valueType":"other","valueValue":"zh"}],"x":700,"y":900,"wires":[["38ef42ab9612229d"]]},{"id":"12af62c3b1c82279","type":"function","z":"0e8ae99364375fbf","name":"控制","func":"msg.payload = {\n    \"intent\": \"query.resource.value\",\n    \"data\": {\n        \"resources\": [\n            {\n                \"subjectId\": msg.subjectId,\n                \"resourceIds\": [\n                    \"13.32.85\",\n                    \"13.37.85\"\n                ]\n            }\n        ]\n    }\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":900,"wires":[["8e762b554a05083a"]]},{"id":"54cd4510398b8bb2","type":"debug","z":"0e8ae99364375fbf","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":900,"wires":[]},{"id":"38ef42ab9612229d","type":"json","z":"0e8ae99364375fbf","name":"","property":"payload","action":"obj","pretty":true,"x":850,"y":900,"wires":[["36831c26dddbdcec"]]},{"id":"36831c26dddbdcec","type":"function","z":"0e8ae99364375fbf","name":"电池状态","func":"const data = msg.payload.result;\n\nfor (let item of data) {\n    if (item.resourceId === \"13.37.85\") {\n        msg.gan_dian_chi = item.value;\n    } else if (item.resourceId === \"13.32.85\") {\n        msg.li_dian_chi = item.value;\n    }\n}\n\nglobal.set(\"gan_dian_chi\", msg.gan_dian_chi);\nglobal.set(\"li_dian_chi\", msg.li_dian_chi)\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":900,"wires":[["54cd4510398b8bb2","25dea1d5d19ad2da"]]},{"id":"0ecfbfc9cb4ea77d","type":"comment","z":"0e8ae99364375fbf","name":"获取访问令牌，默认有效期一年","info":"","x":230,"y":360,"wires":[]},{"id":"0f5f3b72f8f4d15e","type":"comment","z":"0e8ae99364375fbf","name":"填写P100的subjectId，获取门锁电量信息","info":"","x":260,"y":840,"wires":[]},{"id":"c48941ea0a52795d","type":"comment","z":"0e8ae99364375fbf","name":"监听门锁状态，末尾请求地址换成自己的HA地址","info":"","x":280,"y":1140,"wires":[]},{"id":"42f95277132478ad","type":"function","z":"0e8ae99364375fbf","name":"function 6","func":"msg.payload = {\n    \"intent\": \"config.auth.getAuthCode\",\n        \"data\": {\n            \"account\": msg.account,\n            \"accountType\": 0,\n                \"accessTokenValidity\": \"1y\"\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":420,"wires":[["ee8725b160e6e6bc"]]},{"id":"3607d6b8c3f10d36","type":"inject","z":"0e8ae99364375fbf","name":"获取短信验证码","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"获取验证码","x":180,"y":420,"wires":[["dd8bc64d6c7b1533"]]},{"id":"0b397252d18d19f0","type":"debug","z":"0e8ae99364375fbf","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":420,"wires":[]},{"id":"044c38afb503cc02","type":"inject","z":"0e8ae99364375fbf","name":"此处填写收到的短信验证码","props":[{"p":"authCode","v":"（此处填写收到的短信验证码）","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"获取令牌","x":210,"y":480,"wires":[["efe71703e88610ca"]]},{"id":"7fc670c831ea6833","type":"function","z":"0e8ae99364375fbf","name":"function 8","func":"msg.payload = {\n    \"intent\": \"config.auth.getToken\",\n    \"data\": {\n        \"authCode\": msg.authCode,\n        \"account\": msg.account,\n        \"accountType\": 0\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":480,"wires":[["3c94a515b6d83b57"]]},{"id":"77d7a42e4f29466f","type":"debug","z":"0e8ae99364375fbf","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":480,"wires":[]},{"id":"ee8725b160e6e6bc","type":"http request","z":"0e8ae99364375fbf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://open-cn.aqara.com/v3.0/open/api","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Accesstoken","valueType":"msg","valueValue":"Accesstoken"},{"keyType":"other","keyValue":"Appid","valueType":"msg","valueValue":"Appid"},{"keyType":"other","keyValue":"Keyid","valueType":"msg","valueValue":"Keyid"},{"keyType":"other","keyValue":"Nonce","valueType":"msg","valueValue":"Nonce"},{"keyType":"other","keyValue":"Time","valueType":"msg","valueValue":"Time"},{"keyType":"other","keyValue":"Sign","valueType":"msg","valueValue":"Sign"},{"keyType":"other","keyValue":"Lang","valueType":"other","valueValue":"zh"}],"x":840,"y":420,"wires":[["0b397252d18d19f0"]]},{"id":"3c94a515b6d83b57","type":"http request","z":"0e8ae99364375fbf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://open-cn.aqara.com/v3.0/open/api","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Accesstoken","valueType":"msg","valueValue":"Accesstoken"},{"keyType":"other","keyValue":"Appid","valueType":"msg","valueValue":"Appid"},{"keyType":"other","keyValue":"Keyid","valueType":"msg","valueValue":"Keyid"},{"keyType":"other","keyValue":"Nonce","valueType":"msg","valueValue":"Nonce"},{"keyType":"other","keyValue":"Time","valueType":"msg","valueValue":"Time"},{"keyType":"other","keyValue":"Sign","valueType":"msg","valueValue":"Sign"},{"keyType":"other","keyValue":"Lang","valueType":"other","valueValue":"zh"}],"x":840,"y":480,"wires":[["77d7a42e4f29466f","adb02bbe60a96e3d"]]},{"id":"c13c328fce993922","type":"md5","z":"0e8ae99364375fbf","name":"md5","fieldToHash":"payload","fieldTypeToHash":"msg","hashField":"Sign","hashFieldType":"msg","x":490,"y":180,"wires":[["610c969cfb4e0e16"]]},{"id":"4e1b5fae68a15220","type":"lower-case","z":"0e8ae99364375fbf","name":"改小写","x":350,"y":180,"wires":[["c13c328fce993922"]]},{"id":"4afc91a2a5968046","type":"function","z":"0e8ae99364375fbf","name":"Sign","func":"const Timestamp = Date.now()\n\n// 替换成你自己的\nmsg.account = \"138xxxx9724\"\nmsg.Accesstoken = \"78chtxxxxxxxxxxxx7b8svt\"\nmsg.Appid = \"982797xxxxxxxxxxxx9c8n\"\nmsg.Keyid = \"K.9274xxxxxxxxxxxxhkbsd\"\nmsg.Nonce = Timestamp\nmsg.Time = Timestamp\nmsg.appKey = \"9718xxxxxxxxxxxxxx98504mrf\"\n\nmsg.payload = (\n    \"Accesstoken=\" + msg.Accesstoken + \"&Appid=\" + msg.Appid + \"&Keyid=\" + msg.Keyid + \"&Nonce=\" + msg.Nonce + \"&Time=\" + msg.Time + msg.appKey\n)\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":180,"wires":[["4e1b5fae68a15220"]]},{"id":"0b55c7ebc47483d2","type":"comment","z":"0e8ae99364375fbf","name":"签名：在Sign节点填写必要信息","info":"","x":230,"y":120,"wires":[]},{"id":"2c46aeb1280f1938","type":"link in","z":"0e8ae99364375fbf","name":"link in 7","links":["dd8bc64d6c7b1533","efe71703e88610ca","1c6569afe5b7892e","cf05d507113f995d"],"x":115,"y":180,"wires":[["4afc91a2a5968046"]]},{"id":"041e643f8c7d9721","type":"link out","z":"0e8ae99364375fbf","name":"link out 8","mode":"link","links":["6a38b9c9a2429b71"],"x":735,"y":100,"wires":[]},{"id":"610c969cfb4e0e16","type":"switch","z":"0e8ae99364375fbf","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"获取验证码","vt":"str"},{"t":"eq","v":"获取令牌","vt":"str"},{"t":"eq","v":"订阅P100必要资源","vt":"str"},{"t":"eq","v":"获取门锁电量","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":180,"wires":[["041e643f8c7d9721"],["8f57ce07ceebbbf0"],["668e66f616d4f0c3"],["02a4d0bd7031d9c4"]]},{"id":"6a38b9c9a2429b71","type":"link in","z":"0e8ae99364375fbf","name":"link in 8","links":["041e643f8c7d9721"],"x":585,"y":420,"wires":[["42f95277132478ad"]]},{"id":"dd8bc64d6c7b1533","type":"link out","z":"0e8ae99364375fbf","name":"link out 9","mode":"link","links":["2c46aeb1280f1938"],"x":295,"y":420,"wires":[]},{"id":"8f57ce07ceebbbf0","type":"link out","z":"0e8ae99364375fbf","name":"link out 10","mode":"link","links":["8b5f065ad3ffb88e"],"x":735,"y":140,"wires":[]},{"id":"8b5f065ad3ffb88e","type":"link in","z":"0e8ae99364375fbf","name":"link in 9","links":["8f57ce07ceebbbf0"],"x":585,"y":480,"wires":[["7fc670c831ea6833"]]},{"id":"efe71703e88610ca","type":"link out","z":"0e8ae99364375fbf","name":"link out 11","mode":"link","links":["2c46aeb1280f1938"],"x":355,"y":480,"wires":[]},{"id":"adb02bbe60a96e3d","type":"debug","z":"0e8ae99364375fbf","name":"Sign节点替换新的Accesstoken，记好refreshToken","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":520,"wires":[]},{"id":"1c6569afe5b7892e","type":"link out","z":"0e8ae99364375fbf","name":"link out 12","mode":"link","links":["2c46aeb1280f1938"],"x":255,"y":900,"wires":[]},{"id":"02a4d0bd7031d9c4","type":"link out","z":"0e8ae99364375fbf","name":"link out 13","mode":"link","links":["b5ab2b899b89302d"],"x":735,"y":220,"wires":[]},{"id":"b5ab2b899b89302d","type":"link in","z":"0e8ae99364375fbf","name":"link in 10","links":["02a4d0bd7031d9c4"],"x":465,"y":900,"wires":[["12af62c3b1c82279"]]},{"id":"92ac0b8eae479a72","type":"debug","z":"0e8ae99364375fbf","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1340,"y":1160,"wires":[]},{"id":"96a62dd447b97a72","type":"comment","z":"0e8ae99364375fbf","name":"填写自己P100的subjectId，订阅必要资源","info":"","x":260,"y":620,"wires":[]},{"id":"d81b9cdda817bbfd","type":"inject","z":"0e8ae99364375fbf","name":"填写subjectId","props":[{"p":"subjectId","v":"（此处填写P100的subjectId，像这样lumi.98fhxxxo08g）","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"订阅P100必要资源","x":170,"y":680,"wires":[["cf05d507113f995d"]]},{"id":"cf05d507113f995d","type":"link out","z":"0e8ae99364375fbf","name":"link out 14","mode":"link","links":["2c46aeb1280f1938"],"x":345,"y":680,"wires":[]},{"id":"668e66f616d4f0c3","type":"link out","z":"0e8ae99364375fbf","name":"link out 15","mode":"link","links":["1be7b9871b3336aa"],"x":735,"y":180,"wires":[]},{"id":"1be7b9871b3336aa","type":"link in","z":"0e8ae99364375fbf","name":"link in 11","links":["668e66f616d4f0c3"],"x":585,"y":680,"wires":[["28dfe63e7716fd63"]]},{"id":"28dfe63e7716fd63","type":"function","z":"0e8ae99364375fbf","name":"function 9","func":"msg.payload = {\n    \"intent\": \"config.resource.subscribe\",\n    \"data\": {\n        \"resources\": [\n            {\n                \"subjectId\": msg.subjectId,\n                \"resourceIds\": [\n                    \"13.1.85\",\n                    \"13.2.85\",\n                    \"13.3.85\",\n                    \"13.4.85\",\n                    \"13.10.85\",\n                    \"13.11.85\",\n                    \"13.13.85\",\n                    \"13.14.85\",\n                    \"13.15.85\",\n                    \"13.20.85\"\n                ],\n                \"attach\": \"xxx\"\n            }\n        ]\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":680,"wires":[["d04521683333d53e"]]},{"id":"d04521683333d53e","type":"http request","z":"0e8ae99364375fbf","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://open-cn.aqara.com/v3.0/open/api","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Accesstoken","valueType":"msg","valueValue":"Accesstoken"},{"keyType":"other","keyValue":"Appid","valueType":"msg","valueValue":"Appid"},{"keyType":"other","keyValue":"Keyid","valueType":"msg","valueValue":"Keyid"},{"keyType":"other","keyValue":"Nonce","valueType":"msg","valueValue":"Nonce"},{"keyType":"other","keyValue":"Time","valueType":"msg","valueValue":"Time"},{"keyType":"other","keyValue":"Sign","valueType":"msg","valueValue":"Sign"},{"keyType":"other","keyValue":"Lang","valueType":"other","valueValue":"zh"}],"x":840,"y":680,"wires":[["b5d793645d8a2bc1"]]},{"id":"b5d793645d8a2bc1","type":"debug","z":"0e8ae99364375fbf","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":680,"wires":[]},{"id":"3f4233f89e31e37a","type":"delay","z":"0e8ae99364375fbf","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1125,"y":1280,"wires":[["2790d6fd83412a36"]],"l":false},{"id":"2790d6fd83412a36","type":"function","z":"0e8ae99364375fbf","name":"复位特殊事件","func":"global.set(\"te_shu_shi_jian\", \"999\")\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175,"y":1280,"wires":[["25dea1d5d19ad2da"]],"l":false},{"id":"2e93a8179cdf9ec4","type":"comment","z":"0e8ae99364375fbf","name":"此处两个节点需要自行安装，点击查看详情","info":"改小写：\n@datuo/node-red-wh-lower-case\nmd5:\nnode-red-contrib-md5","x":460,"y":220,"wires":[]},{"id":"f3a33373e2b908bb","type":"comment","z":"0e8ae99364375fbf","name":"更换下方subjectId","info":"","x":550,"y":1200,"wires":[]},{"id":"8b2a4e3e19bd3ab0","type":"comment","z":"0e8ae99364375fbf","name":"Aqara 控制台设置推送地址，与此处对应","info":"","x":260,"y":1280,"wires":[]}]